<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="HJSIIEntities" connectionString="metadata=res://*/HJS.csdl|res://*/HJS.ssdl|res://*/HJS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rdsmjnrvzmjnrvz.sqlserver.rds.aliyuncs.com,3433;initial catalog=HJSii;persist security info=True;user id=hjs;password=hanxinnet1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!-- 连接字符串是否加密  -->
    <add key="ConStringEncrypt" value="false" />
    <add key="ConnectionString" value="server=rdsmjnrvzmjnrvz.sqlserver.rds.aliyuncs.com,3433;database=HJSiii;uid=hjs;pwd=hanxinnet1" />
    <add key="ConnectionStringForBroker" value="server=rdsmjnrvzmjnrvz.sqlserver.rds.aliyuncs.com,3433;database=Forum;uid=hjs;pwd=hanxinnet1" />
    <add key="KeyLocation" value="D:\KeyLocation"/>
    <!-- BorrowPhone+borrowtype类型  -入账|出账-->
    <add key="BorrowPhone0" value="13823731431|13823731431" />
    <add key="BorrowPhone1" value="15629009123|13477055199" />
    <!--对账系统通知地址-->
    <add key="AccountSystemUrl" value="http://account.hanxinbank.com" />
    <!--报警接口-->
    <add key="AlertInterfaceUrl" value="http://iweb.hanxinbank.com/police/callThePolice.do?name=" />

    <!--汉金所账户-->
    <add key="HanJinSuoAccount" value="0F74B7ED-8C7A-45E6-BBAD-F4898F176811" />
    <!--新的兑付逻辑账户 加息分开-->
    <add key="NewBorrowId" value="0" />
  </appSettings>
</configuration>